body{
	background-color: #efefef;
}

.navbar{
	margin-bottom: 0;
}

.list-group-item:hover{
	cursor: pointer;
	background-color: #d4d4d6;
}

#highlight-container{
	display: flex;
	justify-content: center;
	background: grey url(../img/highlight.jpg);
	background-size: cover;
	background-position: center center;
}

#highlight{
	display: flex;
	max-width: 75%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height:95vh;
	margin-bottom: 30px;
	padding-bottom: 100px;
}

#highlight h1, h3, h4{
	color: #FFF;
	margin:0;
}

#highlight h1{
	font-weight: bolder;
	font-size: 5em;
}

#highlight .input-group{
	margin-top: 50px;
}

#kategori {
	font-size: 10pt;
}

@media (max-width:500px) {
	#highlight{
		width: 100%;
		padding: 0;
	}

}

