.thumbnail img{
	width: 100%;
	height: 170px;
}

.img-fit, .thumbnail img{
	object-fit: cover;
}

.thumbnail .caption{
	padding-top: 0;
}

.thumbnail h4{
	line-height: 0;
	padding-bottom: 10px;
}

.side-group{
	padding: 5px 0px 0 10px;
}

.img-thumbnail{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

#navbar{
	background-color: #34495e;
	color: white;
}

#navbar *{
	color: white;
}

#navbar .dropdown-menu *{
	color: #34495e;
}

.kosong{
	border-color: red;
}

.img-thumbnail{
	width: 100%;
}

.tabel tr td{
	font-size: 12pt;
	font-weight: bolder;
}

.form-login{
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
}

.form-login form{
	width: 400px;
	padding: 20px;
	border: 1px #afafaf solid;
	background-color: #FFF;
	/*border-radius: 3px;*/
}

.form-title h2{
	padding-top: 5px;
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 20pt;
	font-weight: bolder;
}

.btn-round{
	border-radius: 20px;
}